/* Global Css Starts */
.font-manrope {
    font-family: 'Manrope', sans-serif;
}

:root {
    --primary-color: #FF4240;
    --secondary-color: #131318;
    --third-color: #13131899;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--secondary-color);
}
p{
    color: var(--third-color);
}
.prime-button {
    background-color: var(--primary-color) !important;
    color: #FFF !important;
    border: none !important;
    transition: 0.5s;
}
.prime-button:hover {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}
.price {color: var(--primary-color);}
/* Global Css Ends */

/* program */
.program-1 {
    background: linear-gradient(180deg, #070211a8 0%, rgba(7, 2, 17, 0.276) 100%), url("../Images/2.png");
}
.program-2 {
    background: linear-gradient(180deg, #070211a8 0%, rgba(7, 2, 17, 0.276) 100%), url("../Images/3.png");

}
.program-3 {
    background: linear-gradient(180deg, #070211a8 0%, rgba(7, 2, 17, 0.276) 100%), url("../Images/4.png");
}